Repository agora-net/agora.gdn: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, python-typecheck, django-test

local-biome-check:
  name: biome check
  entry: bash -c '[[ -s $HOME/.nvm/nvm.sh ]] && . $HOME/.nvm/nvm.sh && cd frontend/@agora/agora && pnpm biome check --write --files-ignore-unknown=true --no-errors-on-unmatched --config-path=./biome.jsonc'
  language: system

python-typecheck:
  name: python-typecheck
  entry: just typecheck
  pass_filenames: false
  language: system

django-test:
  name: django-test
  entry: just test
  pass_filenames: false
  language: system

add configurable Django admin URL and update onboarding routes
  agora/settings.py
  agora/urls.py
Due: python-typecheck, django-test

add logic to redirect to stripe checkout
  user/forms.py
  user/selectors.py
  user/services.py
  user/views.py
  user/webhooks.py
Due: python-typecheck, django-test

move copyToClipboard into own file
  agora/templates/mfa/recovery_codes/index.html
  agora/templates/mfa/totp/activate_form.html
  frontend/@agora/agora/src/clipboard.ts
  frontend/@agora/agora/vite.config.ts
Due: local-biome-check

add continue button to recovery codes page
  agora/templates/mfa/recovery_codes/index.html
Due: none

add admin inlines for subscription, payment method, and identity verification models
  user/admin.py
  user/middleware.py
Due: python-typecheck, django-test

add idempotent webhook decorator for cache-based locking
  user/decorators.py
Due: python-typecheck, django-test

add Stripe CLI webhook listener command to Justfile
  Justfile
Due: none

add readonly fields to admin inlines and implement idempotent webhook for checkout session completion
  user/admin.py
  user/decorators.py
  user/services.py
  user/views.py
  user/webhooks.py
Due: python-typecheck, django-test

update idempotent webhook decorator to use consistent variable naming for session identifiers
  user/decorators.py
Due: python-typecheck, django-test

add "Referer" to cSpell ignoreWords in VSCode settings
  .vscode/settings.json
Due: local-biome-check

update Stripe CLI webhook listener command to use correct forwarding URL
  Justfile
Due: none

add secure CSRF cookie setting and update onboarding routes for webhooks and API
  agora/settings.py
Due: python-typecheck, django-test

add error logging for checkout session processing and sanitize session ID in onboarding view
  user/views.py
  user/webhooks.py
Due: python-typecheck, django-test

add context processor for Stripe keys
  agora/context_processors.py
Due: python-typecheck, django-test

add Stripe keys context processor to template settings
  agora/settings.py
Due: python-typecheck, django-test

add identity verification step and enable POST method in onboarding view
  user/templates/user/onboarding/identity.html
  user/views.py
Due: python-typecheck, django-test

remove unused Stripe JavaScript from onboarding identity template
  user/templates/user/onboarding/identity.html
Due: none

add STRIPE_VERIFICATION_FLOW_ID to environment settings
  .env.template
  agora/settings.py
Due: python-typecheck, django-test

add identity verification session creation and model handling
  user/services.py
Due: python-typecheck, django-test

add redirect logic for onboarding identity verification and create Stripe session
  user/views.py
Due: python-typecheck, django-test

add user date of birth model and handle identity verification completion
  user/migrations/0002_identityverification_verified_at_alter_agorauser_id.py
  user/migrations/0003_userdateofbirth.py
  user/models.py
  user/services.py
  user/webhooks.py
Due: python-typecheck, django-test

add phonenumbers dependency to project
  pyproject.toml
  uv.lock
Due: none

add function to create verified phone number and handle phone number storage in identity verification
  user/services.py
Due: python-typecheck, django-test

add functionality to update user names and create verified phone numbers during identity verification
  user/services.py
Due: python-typecheck, django-test

add identity pending step and update routing for onboarding process
  user/selectors.py
  user/services.py
  user/urls.py
  user/views.py
Due: python-typecheck, django-test

add polling function with backoff strategy for API requests
  frontend/@agora/agora/src/agora.ts
Due: local-biome-check

add identity pending view and template with polling for verification status
  user/templates/user/onboarding/identity_pending.html
  user/urls.py
  user/views.py
Due: python-typecheck, django-test

fix spacing in identity pending message for clarity
  user/templates/user/onboarding/identity_pending.html
Due: none

add global pollWithBackoff function, update identity issuing country field to allow blank, and adjust identity pending URL path
  frontend/@agora/agora/src/agora.ts
  user/migrations/0004_alter_identityverification_identity_issuing_country.py
  user/models.py
  user/services.py
  user/templates/user/onboarding/identity_pending.html
  user/urls.py
Due: local-biome-check, python-typecheck, django-test

add debug configuration for runserver with SSL support
  .vscode/launch.json
Due: local-biome-check

add user verification status API endpoint and update selectors for verification status
  user/api.py
  user/selectors.py
  user/webhooks.py
Due: python-typecheck, django-test

update profile view to dashboard and add dashboard template; include user API URLs
  agora/urls.py
  home/templates/home/dashboard.html
  home/views.py
Due: python-typecheck, django-test

rename profile to dashboard
  agora/settings.py
  user/tests/test_e2e.py
  user/views.py
Due: python-typecheck, django-test

add phonenumberutil to VSCode settings
  .vscode/settings.json
Due: local-biome-check

update API namespace and improve phone number validation; enhance identity verification handling
  user/api.py
  user/services.py
  user/templates/user/onboarding/identity_pending.html
Due: python-typecheck, django-test

update identity pending message to include dashboard redirect and adjust polling delay
  user/templates/user/onboarding/identity_pending.html
Due: none

add last error code and message fields to identity verification model; update user verification status handling
  user/migrations/0005_identityverification_last_error_code_and_more.py
  user/models.py
  user/selectors.py
Due: python-typecheck, django-test

update API routing and webhook handling; switch to Router for user API and webhooks
  Justfile
  agora/api.py
  agora/urls.py
  user/api.py
  user/templates/user/onboarding/identity_pending.html
  user/urls.py
  user/webhooks.py
Due: python-typecheck, django-test

broken commit to sync pcs
  .vscode/settings.json
  user/forms.py
  user/models.py
  user/views.py
  utils/privacy.py
  utils/tests/__init__.py
  utils/tests/test_privacy.py
Due: local-biome-check, python-typecheck, django-test

add logging for phone number redaction and enhance redaction logic
  utils/__init__.py
  utils/privacy.py
  utils/tests/test_privacy.py
Due: python-typecheck, django-test

Path conditions:
  local-biome-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$
  python-typecheck: any of: \.(py)$
  django-test: any of: \.(py)$
