Repository agora-net/agora.gdn: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, python-typecheck, django-test

local-biome-check:
  name: biome check
  entry: bash -c '[[ -s $HOME/.nvm/nvm.sh ]] && . $HOME/.nvm/nvm.sh && cd frontend/@agora/agora && pnpm biome check --write --files-ignore-unknown=true --no-errors-on-unmatched --config-path=./biome.jsonc'
  language: system

python-typecheck:
  name: python-typecheck
  entry: just typecheck
  pass_filenames: false
  language: system

django-test:
  name: django-test
  entry: just test
  pass_filenames: false
  language: system

fix: update Playwright test command to handle no tests and flaky tests more effectively
  Justfile
Due: none

feat: add pre-commit test command for Python files to enhance testing workflow
  lefthook.yml
Due: none

chore: update GitHub Actions workflow for e2e testing by upgrading action versions and adding pnpm setup
  .github/workflows/e2e-testing.yaml
Due: none

chore: update GitHub Actions workflow by modifying action versions and changing .env file copy source
  .github/workflows/test-and-typecheck.yaml
Due: none

chore: update e2e testing workflow to use Node.js 22 and specify pnpm version
  .github/workflows/e2e-testing.yaml
Due: none

chore: simplify e2e testing workflow by removing uv installation and updating dependency installation commands
  .github/workflows/e2e-testing.yaml
Due: none

chore: update e2e testing workflow to use frozen lockfile for dependency installation
  .github/workflows/e2e-testing.yaml
Due: none

chore: remove progress block as no longer relevant
  agora/templates/account/signup.html
  agora/templates/allauth/layouts/base.html
  agora/templates/mfa/totp/activate_form.html
Due: none

feat: implement middleware to enforce two-factor authentication for all users
  user/middleware.py
Due: python-typecheck, django-test

feat: add AllUserRequire2FAMiddleware to enforce two-factor authentication for all users
  agora/settings.py
Due: python-typecheck, django-test

chore: add otplib dependency for two-factor authentication support in e2e tests
  e2e/package.json
  e2e/pnpm-lock.yaml
Due: local-biome-check

feat: enhance user registration test to include multi-factor authentication flow
  e2e/user-registration.spec.ts
Due: local-biome-check

feat: update profile URL routing and enhance header with user authentication links
  agora/templates/includes/header.html
  agora/urls.py
  frontend/@agora/agora/src/tailwind.css
Due: local-biome-check, python-typecheck, django-test

chore: remove playwright dependency from development environment
  pyproject.toml
  uv.lock
Due: none

feat: add visibility field to AgoraUser model and implement display_id and get_absolute_url methods
  user/migrations/0006_agorauser_visibility.py
  user/models.py
Due: python-typecheck, django-test

chore: exclude migration files from pre-commit hooks in lefthook configuration
  lefthook.yml
Due: none

feat: update profile view logic and routing to support user ID and handle, with redirection for current user
  agora/core/views.py
  agora/urls.py
Due: python-typecheck, django-test

feat: update header to display user display_id and improve profile link routing
  agora/templates/includes/header.html
Due: none

fix: update profile URL references to use namespaced routing and improve profile view permission checks
  agora/core/views.py
  agora/settings.py
  agora/templates/mfa/recovery_codes/index.html
Due: python-typecheck, django-test

fix: update SVG logo class binding and set explicit height and width attributes
  agora/templates/logo/agora.svg
Due: none

fix: adjust container padding in Tailwind CSS for improved responsiveness
  frontend/@agora/agora/src/tailwind.css
Due: local-biome-check

feat: add footer component with company, legal links, and newsletter subscription form
  agora/templates/includes/footer.html
Due: none

refactor: update header and footer to use SVG logo with improved styling and link wrapping
  agora/templates/includes/footer.html
  agora/templates/includes/header.html
Due: none

refactor: enhance layout structure by adding footer component and adjusting body class for better flexbox support
  agora/templates/base.html
Due: none

fix: update newsletter subscription form visibility based on user authentication status
  agora/templates/includes/footer.html
Due: none

chore: remove unused Example model and related documentation from core models
  agora/core/models.py
Due: python-typecheck, django-test

feat: add newsletter signup app, model and react app
  agora/api_v1.py
  agora/newsletter/README.md
  agora/newsletter/__init__.py
  agora/newsletter/admin.py
  agora/newsletter/api.py
  agora/newsletter/apps.py
  agora/newsletter/migrations/0001_initial.py
  agora/newsletter/migrations/__init__.py
  agora/newsletter/models.py
  agora/newsletter/services.py
  agora/newsletter/tests.py
  agora/settings.py
  agora/templates/includes/footer.html
  frontend/@agora/agora/src/components/NewsletterForm.tsx
  frontend/@agora/agora/src/newsletter.tsx
  frontend/@agora/agora/vite.config.ts
Due: local-biome-check, python-typecheck, django-test

feat: enhance newsletter signup functionality by setting a cookie and updating form visibility logic
  agora/newsletter/api.py
  agora/templates/includes/footer.html
Due: python-typecheck, django-test

feat: add admin interface for managing newsletter subscriptions with list display and search functionality
  agora/newsletter/admin.py
Due: python-typecheck, django-test

Path conditions:
  local-biome-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$
  python-typecheck: any of: \.(py)$
  django-test: any of: \.(py)$
