Repository agora-net/agora.gdn: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, python-typecheck, django-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.6.1
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/djlint/djLint
    rev: v1.34.1
    hooks:
      - id: djlint-reformat-django
        # Exclude the tailwind templates from formatting as they use fragile formatting.
        exclude: "templates/tailwind/.*\\.html$"
      - id: djlint-django
  - repo: local
    hooks:
      - id: local-biome-check
        name: biome check
        entry: bash -c '[[ -s $HOME/.nvm/nvm.sh ]] && . $HOME/.nvm/nvm.sh && cd frontend/@agora/agora && pnpm biome check --write --files-ignore-unknown=true --no-errors-on-unmatched --config-path=./biome.jsonc'
        language: system
        types: [text]
        files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
  - repo: local
    hooks:
      - id: python-typecheck
        name: python-typecheck
        entry: just typecheck
        pass_filenames: false
        language: system
        files: "\\.(py)$"
  - repo: local
    hooks:
      - id: django-test
        name: django-test
        entry: just test
        pass_filenames: false
        language: system
        files: "\\.(py)$"

redact phone number in user phone number model
  user/services.py
Due: python-typecheck, django-test

remove day and month fields from UserDateOfBirth model; create UserProfile and UserSettings models
  user/migrations/0006_remove_userdateofbirth_day_and_more.py
  user/models.py
  user/services.py
Due: python-typecheck, django-test

move dashboard view to user module and update URL routing; remove old dashboard template
  agora/urls.py
  home/templates/home/dashboard.html
  home/views.py
  user/templates/user/dashboard.html
  user/views.py
Due: python-typecheck, django-test

add ordering to AgoraUser and IdentityVerification models; update identity verification status logic
  user/models.py
  user/selectors.py
Due: python-typecheck, django-test

handle IdentityVerification.DoesNotExist exception in latest_identity_verification; update URL for dashboard redirection
  user/selectors.py
  user/templates/user/onboarding/identity_pending.html
Due: python-typecheck, django-test

add inlines for UserEmail, UserPhoneNumber, and UserDomain in UserContactScopeAdmin
  user/admin.py
Due: python-typecheck, django-test

update SVG logo class to support dynamic class assignment
  agora/templates/logo/agora.svg
Due: none

update dashboard layout and add profile section template
  user/templates/user/dashboard.html
  user/templates/user/includes/profile.html
Due: none

update profile section to display user nickname and full name
  user/templates/user/dashboard.html
  user/templates/user/includes/profile.html
Due: none

add UserProfileInline to AgoraUserAdmin for user profile management
  user/admin.py
Due: python-typecheck, django-test

add django-pictures dependency to project
  pyproject.toml
  uv.lock
Due: none

configure django-pictures settings
  agora/settings.py
  agora/urls.py
Due: python-typecheck, django-test

add @tailwindcss/aspect-ratio dependency to project
  frontend/@agora/agora/package.json
  frontend/@agora/agora/pnpm-lock.yaml
Due: local-biome-check

add @tailwindcss/aspect-ratio plugin to tailwind.css
  frontend/@agora/agora/src/tailwind.css
Due: local-biome-check

replace ImageField with PictureField in UserProfile model for profile picture management
  user/models.py
Due: python-typecheck, django-test

alter model options for AgoraUser and IdentityVerification; update profile_picture field to use PictureField with specified settings
  user/migrations/0007_alter_agorauser_options_and_more.py
Due: python-typecheck, django-test

improve dashboard layout and enhance profile display with responsive design and picture handling
  user/templates/user/dashboard.html
  user/templates/user/includes/profile.html
Due: none

add UserSettingsInline to AgoraUserAdmin for improved user settings management
  user/admin.py
Due: python-typecheck, django-test

add reserved handles for user input validation and enhance DashboardUserForm with field grouping and translations
  user/forms.py
Due: python-typecheck, django-test

add custom template filter to retrieve object attributes dynamically
  user/templatetags/__init__.py
  user/templatetags/user.py
Due: python-typecheck, django-test

enhance dashboard template with dynamic field grouping and improved form submission
  user/templates/user/dashboard.html
Due: none

update dependencies to replace django-types with django-stubs and django-stubs-ext
  pyproject.toml
  uv.lock
Due: none

add dynamic field grouping and custom form field template for user dashboard
  agora/settings.py
  agora/templates/form/fields/input.html
  home/admin.py
  user/forms.py
  user/templates/user/dashboard.html
  user/templatetags/user.py
Due: python-typecheck, django-test

update packages
  uv.lock
Due: none

pin factory-boy version to 3.3.1 to resolve typing issues
  pyproject.toml
  uv.lock
Due: none

update theme and visibility choices to use the choices attribute; handle potential None values in redirects
  user/models.py
  user/views.py
Due: python-typecheck, django-test

add identicon.js and its type definitions to dependencies
  frontend/@agora/agora/package.json
  frontend/@agora/agora/pnpm-lock.yaml
Due: local-biome-check

add 'endwith' to VSCode settings for improved syntax highlighting
  .vscode/settings.json
Due: local-biome-check

add identicon generation on DOMContentLoaded for elements with data-identicon attribute
  frontend/@agora/agora/src/agora.ts
Due: local-biome-check

add md5 filter to compute MD5 hash of a value
  user/templatetags/user.py
Due: python-typecheck, django-test

add fallback identicon for users without a profile picture
  user/templates/user/includes/profile.html
Due: none

update identicon options for improved rendering and adjust profile layout in dashboard
  frontend/@agora/agora/src/agora.ts
  user/templates/user/dashboard.html
  user/templates/user/includes/profile.html
Due: local-biome-check

add flexbox layout to dashboard fields for improved spacing
  user/templates/user/dashboard.html
Due: none

Update .gitignore to include additional macOS system files and temporary items
  .gitignore
Due: none

chore: move .env.template to .env.dist
  .env.dist
Due: none

feat: add cursor dev rules
  .cursor/rules/clean-code.mdc
  .cursor/rules/code-quality.mdc
  .cursor/rules/django-all.mdc
  .cursor/rules/django-models.mdc
  .cursor/rules/django-services.mdc
  .cursor/rules/python.mdc
  .cursor/rules/react.mdc
  .cursor/rules/tailwind.mdc
Due: none

chore: update all dependencies
  uv.lock
Due: none

feat: add lefthook to replace pre-commit
  lefthook.yml
  pyproject.toml
  uv.lock
Due: none

chore: update dependencies and Python version in pyproject.toml
  .python-version
  pyproject.toml
Due: none

refactor: reorganize Justfile for improved development workflow and add mkcert for HTTPS support
  Justfile
Due: none
