Repository agora-net/agora.gdn: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, python-typecheck, django-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.6.1
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/djlint/djLint
    rev: v1.34.1
    hooks:
      - id: djlint-reformat-django
        # Exclude the tailwind templates from formatting as they use fragile formatting.
        exclude: "templates/tailwind/.*\\.html$"
      - id: djlint-django
  - repo: local
    hooks:
      - id: local-biome-check
        name: biome check
        entry: bash -c '[[ -s $HOME/.nvm/nvm.sh ]] && . $HOME/.nvm/nvm.sh && cd frontend/@agora/agora && pnpm biome check --write --files-ignore-unknown=true --no-errors-on-unmatched --config-path=./biome.jsonc'
        language: system
        types: [text]
        files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
  - repo: local
    hooks:
      - id: python-typecheck
        name: python-typecheck
        entry: just typecheck
        pass_filenames: false
        language: system
        files: "\\.(py)$"
  - repo: local
    hooks:
      - id: django-test
        name: django-test
        entry: just test
        pass_filenames: false
        language: system
        files: "\\.(py)$"

chore: remove pre-commit configuration file as part of transitioning to lefthook
  .pre-commit-config.yaml
Due: none

chore: update Python version requirement to >=3.13 and remove pre-commit from dependencies
  pyproject.toml
  uv.lock
Due: none

chore: update Vite configuration to use temporary certificate files for HTTPS
  frontend/@agora/agora/vite.config.ts
Due: local-biome-check

feat: add Django Vite configuration for development mode with HTTPS support
  agora/settings.py
Due: python-typecheck, django-test

fix: add allauth blocks to djlint
  pyproject.toml
Due: none

chore: djlint format templates
  agora/templates/account/account_inactive.html
  agora/templates/account/base_reauthenticate.html
  agora/templates/account/confirm_email_verification_code.html
  agora/templates/account/confirm_login_code.html
  agora/templates/account/email.html
  agora/templates/account/email_change.html
  agora/templates/account/email_confirm.html
  agora/templates/account/login.html
  agora/templates/account/logout.html
  agora/templates/account/password_change.html
  agora/templates/account/password_reset.html
  agora/templates/account/password_reset_done.html
  agora/templates/account/password_reset_from_key.html
  agora/templates/account/password_reset_from_key_done.html
  agora/templates/account/password_set.html
  agora/templates/account/reauthenticate.html
  agora/templates/account/request_login_code.html
  agora/templates/account/signup.html
  agora/templates/account/signup_by_passkey.html
  agora/templates/account/signup_closed.html
  agora/templates/account/snippets/already_logged_in.html
  agora/templates/account/snippets/warn_no_email.html
  agora/templates/account/verification_sent.html
  agora/templates/account/verified_email_required.html
  agora/templates/mfa/authenticate.html
  agora/templates/mfa/index.html
  agora/templates/mfa/reauthenticate.html
  agora/templates/mfa/recovery_codes/generate.html
  agora/templates/mfa/recovery_codes/index.html
  agora/templates/mfa/totp/activate_form.html
  agora/templates/mfa/totp/deactivate_form.html
  agora/templates/mfa/webauthn/add_form.html
  agora/templates/mfa/webauthn/authenticator_confirm_delete.html
  agora/templates/mfa/webauthn/authenticator_list.html
  agora/templates/mfa/webauthn/edit_form.html
  agora/templates/mfa/webauthn/reauthenticate.html
  agora/templates/mfa/webauthn/signup_form.html
Due: none

refactor: standardize template block names from 'base_content' to 'content' for consistency across user onboarding and allauth templates
  agora/templates/allauth/layouts/base.html
  agora/templates/base.html
  user/templates/user/onboarding/billing.html
  user/templates/user/onboarding/identity.html
  user/templates/user/onboarding/identity_pending.html
Due: none

refactor: update template block names for consistency and remove unused footer include
  agora/templates/allauth/layouts/base.html
  agora/templates/allauth/layouts/entrance.html
  agora/templates/allauth/layouts/manage.html
  agora/templates/base.html
Due: none

refactor: improve checkbox layout in allauth fields template for better alignment
  agora/templates/allauth/elements/fields.html
Due: none

chore: remove .gitignore file from certs directory as it is no longer needed
  frontend/@agora/agora/certs/.gitignore
Due: none

refactor: remove old API module and update URL routing to use new api_v1 module
  agora/api_v1.py
  agora/urls.py
Due: python-typecheck, django-test

fix: update dockerfile and justfile and deps for building dockerfile
  Dockerfile
  Justfile
  frontend/@agora/agora/package.json
  frontend/@agora/agora/pnpm-lock.yaml
  frontend/@agora/agora/vite.config.ts
Due: local-biome-check

feat: add template app following project_template conditions
  app_name/README.md
  app_name/__init__.py-tpl
  app_name/admin.py-tpl
  app_name/apps.py-tpl
  app_name/migrations/__init__.py-tpl
  app_name/models.py-tpl
  app_name/selectors.py-tpl
  app_name/services.py-tpl
  app_name/tests.py-tpl
  app_name/views.py-tpl
Due: none

feat: add startapp command to justfile
  Justfile
Due: none

chore: add .gitkeep file to templates directory for version control
  app_name/templates/app_name/.gitkeep
Due: none

feat: initialize core app with models, views, and templates for user profiles
  agora/core/README.md
  agora/core/__init__.py
  agora/core/admin.py
  agora/core/apps.py
  agora/core/migrations/__init__.py
  agora/core/models.py
  agora/core/selectors.py
  agora/core/services.py
  agora/core/templates/core/profile/self.html
  agora/core/tests.py
  agora/core/views.py
Due: python-typecheck, django-test

feat: update settings and URL routing to integrate core app for user profile management
  agora/settings.py
  agora/urls.py
Due: python-typecheck, django-test

feat: remove onboarding middleware to simplify process due to change of business logic
  README.md
  agora/settings.py
  user/middleware.py
  user/tests/test_e2e.py
  user/tests/test_fully_onboarded_middleware.py
  user/urls.py
  user/views.py
Due: python-typecheck, django-test

docs: add design doc templates
  design-docs/_templates/design-doc--simple.md
  design-docs/_templates/design-doc.md
Due: none

docs: update design doc template to include structured metadata for last modified date, author, and status
  design-docs/_templates/design-doc--simple.md
Due: none

docs: add design doc for profile visbility
  design-docs/001-profile-visibility.md
Due: none

fix: update logout redirect URL in settings for consistent user experience
  agora/settings.py
Due: python-typecheck, django-test

chore: update VSCode settings for improved development experience with new file associations and formatting options
  .vscode/settings.json
Due: local-biome-check

feat: enhance profile page with title and include header for improved layout
  agora/core/templates/core/profile/self.html
  agora/templates/base.html
  agora/templates/includes/header.html
  user/tests/test_e2e.py
Due: python-typecheck, django-test

test: add dedicated e2e directory
  e2e/.gitignore
  e2e/example.spec.ts
  e2e/package.json
  e2e/playwright.config.ts
  e2e/pnpm-lock.yaml
  e2e/tests-examples/demo-todo-app.spec.ts
Due: local-biome-check

chore: update justfile to use new e2e dir
  Justfile
Due: none

chore: remove outdated e2e test files for demo todo app and example spec
  e2e/example.spec.ts
  e2e/tests-examples/demo-todo-app.spec.ts
Due: local-biome-check

feat: add header block to base layout for improved template structure
  agora/templates/allauth/layouts/base.html
Due: none

refactor: move meta tags from base.html to a new includes/meta.html file for better organization and maintainability
  agora/templates/base.html
  agora/templates/includes/meta.html
Due: none

chore: update baseURL in Playwright config for e2e tests to use HTTPS
  e2e/playwright.config.ts
Due: local-biome-check

test: add user registration e2e test using Playwright
  e2e/user-registration.spec.ts
Due: local-biome-check

chore: add @faker-js/faker dependency for enhanced test data generation in e2e tests
  e2e/package.json
  e2e/pnpm-lock.yaml
Due: local-biome-check

test: use faker to generate dynamic email for user registration e2e test
  e2e/user-registration.spec.ts
Due: local-biome-check

chore: add .gitignore and README.md for mail directory to manage email files in e2e tests
  e2e/mail/.gitignore
  e2e/mail/README.md
Due: none

chore: configure EMAIL_FILE_PATH for e2e tests to store email files
  agora/settings.py
Due: python-typecheck, django-test

chore: add TypeScript configuration for e2e tests to enable strict type checking and module resolution
  e2e/tsconfig.json
Due: local-biome-check

test: enhance user registration e2e test to include email verification and error handling
  e2e/user-registration.spec.ts
Due: local-biome-check

refactor: remove outdated user registration e2e test file to streamline test suite
  user/tests/test_e2e.py
Due: python-typecheck, django-test

refactor: reorganize e2e commands in Justfile and update README for clarity on Playwright usage
  Justfile
  README.md
Due: none

chore: update all frontend packages
  frontend/@agora/agora/package.json
  frontend/@agora/agora/pnpm-lock.yaml
Due: local-biome-check
