Repository agora-net/agora.gdn: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, python-typecheck, django-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.6.1
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/djlint/djLint
    rev: v1.34.1
    hooks:
      - id: djlint-reformat-django
        # Exclude the tailwind templates from formatting as they use fragile formatting.
        exclude: "templates/tailwind/.*\\.html$"
      - id: djlint-django
  - repo: local
    hooks:
      - id: local-biome-check
        name: biome check
        entry: bash -c '[[ -s $HOME/.nvm/nvm.sh ]] && . $HOME/.nvm/nvm.sh && cd frontend/@agora/agora && pnpm biome check --write --files-ignore-unknown=true --no-errors-on-unmatched --config-path=./biome.jsonc'
        language: system
        types: [text]
        files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
  - repo: local
    hooks:
      - id: python-typecheck
        name: python-typecheck
        entry: just typecheck
        pass_filenames: false
        language: system
        files: "\\.(py)$"
  - repo: local
    hooks:
      - id: django-test
        name: django-test
        entry: just test
        pass_filenames: false
        language: system
        files: "\\.(py)$"

node package manager is now pnpm 10.1.0
  .pre-commit-config.yaml
  frontend/@agora/agora/package.json
  frontend/@agora/agora/pnpm-lock.yaml
Due: local-biome-check

update frontend gitignore to exclude .vite
  frontend/@agora/agora/.gitignore
Due: none

add BSD license under Ewan Jones
  LICENSE
Due: none

install-node should not just install dev dependencies
  Justfile
Due: none

pnpm lock update
  frontend/@agora/agora/pnpm-lock.yaml
Due: none

add daisyui dependency and update tailwind configuration
  frontend/@agora/agora/biome.jsonc
  frontend/@agora/agora/package.json
  frontend/@agora/agora/pnpm-lock.yaml
  frontend/@agora/agora/src/tailwind.css
Due: local-biome-check

improve login and account templates with enhanced structure and styling
  agora/templates/account/login.html
  agora/templates/allauth/elements/button.html
  agora/templates/allauth/elements/form.html
  agora/templates/allauth/layouts/base.html
Due: none

center content in base layout for improved alignment
  agora/templates/allauth/layouts/base.html
Due: none

add link class to signup URL in login template
  agora/templates/account/login.html
Due: none

add account_logout, account_email, and account_change_password to onboarding routes
  agora/settings.py
Due: python-typecheck, django-test

update alert styling in base layout for improved visibility
  agora/templates/allauth/layouts/base.html
Due: none

enhance layout structure and styling for improved content presentation
  agora/templates/allauth/layouts/base.html
  agora/templates/base.html
Due: none

add link class to login URL in signup template for improved styling
  agora/templates/account/signup.html
Due: none

improve form layout and styling for better user experience
  agora/templates/allauth/elements/field.html
  agora/templates/allauth/elements/fields.html
  agora/templates/allauth/elements/form.html
  agora/templates/allauth/elements/h1.html
  agora/templates/mfa/totp/activate_form.html
Due: none

add django-widget-tweaks dependency for enhanced template functionality
  pyproject.toml
  uv.lock
Due: none

add widget_tweaks to INSTALLED_APPS for enhanced template functionality
  agora/settings.py
Due: python-typecheck, django-test

enhance form field layout and styling for improved user experience
  agora/templates/allauth/elements/fields.html
  agora/templates/allauth/elements/form.html
  agora/templates/allauth/layouts/base.html
Due: none

signin page update
  agora/templates/account/login.html
  agora/templates/account/signup.html
  agora/templates/allauth/elements/fields.html
  agora/templates/allauth/elements/p.html
  frontend/@agora/agora/pnpm-lock.yaml
Due: none

update form control layout for improved responsiveness and styling
  agora/templates/allauth/elements/fields.html
Due: none

remove unused Tailwind CSS configuration file
  frontend/@agora/agora/tailwind.config.js
Due: local-biome-check

add custom CSS variables for primary and secondary colors, and update font stack
  frontend/@agora/agora/src/tailwind.css
Due: local-biome-check

move to class based views for now
  user/templates/user/onboarding/base.html
  user/templates/user/onboarding/billing.html
  user/templates/user/onboarding/identity.html
  user/views.py
Due: python-typecheck, django-test

styling auth and onboarding flow
  .vscode/settings.json
  agora/templates/account/signup.html
  agora/templates/allauth/elements/fields.html
  agora/templates/allauth/layouts/base.html
  agora/templates/base.html
  agora/templates/mfa/totp/activate_form.html
  frontend/@agora/agora/package.json
  frontend/@agora/agora/pnpm-lock.yaml
  frontend/@agora/agora/src/tailwind.css
  user/templates/user/onboarding/base.html
Due: local-biome-check

styling tweak
  agora/templates/allauth/elements/fields.html
Due: none

add extra CSS block to hide honeypot field in signup template
  agora/templates/account/signup.html
Due: none

update form field handling and improve layout in templates
  agora/templates/allauth/elements/fields.html
  agora/templates/base.html
Due: none

update body class to use min-h-screen for better layout
  agora/templates/base.html
Due: none

update form field templates for improved accessibility and styling
  .vscode/settings.json
  agora/templates/account/signup.html
  agora/templates/allauth/elements/field.html
  agora/templates/allauth/elements/fields.html
  agora/templates/mfa/totp/activate_form.html
  user/templates/user/onboarding/base.html
Due: local-biome-check

improve template styling and accessibility across account and MFA pages
  .vscode/settings.json
  agora/templates/account/base_reauthenticate.html
  agora/templates/account/login.html
  agora/templates/account/reauthenticate.html
  agora/templates/account/signup.html
  agora/templates/allauth/elements/button_group.html
  agora/templates/allauth/elements/fields.html
  agora/templates/allauth/elements/h2.html
  agora/templates/allauth/elements/p.html
  agora/templates/mfa/reauthenticate.html
  agora/templates/mfa/totp/activate_form.html
  user/templates/user/onboarding/base.html
Due: local-biome-check

large typing and template changes to use pyright
  .vscode/settings.json
  Justfile
  agora/settings.py
  home/models.py
  pyproject.toml
  user/admin.py
  user/middleware.py
  user/models.py
  user/selectors.py
  user/templates/user/onboarding/base.html
  user/templates/user/onboarding/billing.html
  user/tests/utils/services.py
  user/views.py
  utils/ip.py
  utils/models.py
  utils/typing/request.py
  uv.lock
Due: local-biome-check, python-typecheck, django-test

add stripe key setup to settings
  .env.template
  agora/settings.py
Due: python-typecheck, django-test

remove some superfalous (??) types
  user/admin.py
Due: python-typecheck, django-test

stripe price selector fix
  user/selectors.py
Due: python-typecheck, django-test

add caching to stripe price details
  user/selectors.py
Due: python-typecheck, django-test

format pyproject toml and add pyright setting
  pyproject.toml
Due: none

fix typechecking
  agora/settings.py
  user/apps.py
  user/middleware.py
  user/models.py
  user/selectors.py
  user/templates/user/onboarding/billing.html
  user/views.py
  utils/models.py
Due: python-typecheck, django-test

update github workflow to copy env template
  .github/workflows/test-and-typecheck.yaml
Due: none

add django ninja to build an api for stripe webhooks
  pyproject.toml
  user/urls.py
  user/webhooks.py
  uv.lock
Due: python-typecheck, django-test

begin to prepare to handle webhook events
  .env.template
  .vscode/settings.json
  agora/settings.py
  user/__init__.py
  user/webhooks.py
Due: local-biome-check, python-typecheck, django-test

bug fix the 2fa recovery codes not showing properly
  agora/templates/allauth/elements/field.html
Due: none
